html,body{
	width: 100%;
	height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
}
body{
	margin: 20px auto;
	width: 80%;
	background: #7BDAFA;
}
header{
	
    color: #fff;
    padding: 20px;
}
header h2{
    margin: 0;

    font-weight: 300;
    display: inline;
}
.proListing{

}
.proListing .product{
    width: 33%;

    float: left;
    text-align: center;
}
.proListing .product .ProImg{

}
.proListing .product .productName{

}

.proListing .product .productPrice{

}
.proListing .product .options{

}
.proListing .product .button{
	
}
.cart{
    float: right;
	
    width: 20%;
}
.cartDropDown{
    background: #fff;

    color: #7BDAFA;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 2px 2px 1px #ADADAD;
}
.cartDropDown .product{
    overflow: hidden;

    padding: 20px;
    border: 1px solid #ccc;
    background: #E4E4E4;
    margin-bottom: 4px;
}
.cartDropDown .product > *{
    float: left;

    margin-right: 5px;
}
.cartDropDown .product .ProImg{
    width: 65px;

}
.cartDropDown .product img{

    max-width: 100%;
}
.cartDropDown .product .productName{

}

.cartDropDown .product .productPrice{

}
.cartDropDown .product .options{
    float: right;

}
.cartDropDown .product .button{
	
}
.cartDropDown .product .qty-holder{
    width: 20px;
	
    float: left;
    margin-right: 5px;
}
.cartDropDown .product .remove{
    float: left;
	
}
.cartDropDown .product button{
    border: 0;
	
    background: none;
    color: #7BDAFA;
    font-weight: 700;
    cursor: pointer;
}
.cartDropDown .product input{
    width: inherit;
	
    text-align: center;
}