html,body{
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}
body{
    margin: 20px auto;
    width: 80%;
    background: #7BDAFA;
}
header{
    
    color: #fff;
    padding: 20px;
    padding-left: 0;
}
header h2{
    margin: 0;

    font-weight: 300;
    display: inline;
}
header p{
    font-size: 2em;
    
    margin: 0;
}
.proListing{
    width: 80%;

    overflow: hidden;
    text-align: center;
}
.proListing .product{

    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    

    margin-right: 14px;
    

    box-shadow: 1px 1px 1px #888;
    

    padding: 32px;

    min-height: 213px;

    position: relative;

    margin-bottom: 12px;

    min-width: 150px;

    width: 20%;

}
.proListing .product .ProImg{

    max-width: 100%;
    overflow: hidden;
    font: 0/0 a;
    position: relative;
}
.proListing .product .ProImg:before{ content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;}
.proListing .product .ProImg img{
    max-width:100%;
    display: inline-block;      vertical-align: middle;  /* vertical alignment of the inline element */      font: 16px/1 Arial sans-serif;
}
.loadingSpin{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px!important;
    color: #B4B4B4;
    margin-top: -15px;
    margin-left: -15px;
}
.proListing .product .details{
    position: absolute;
    
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 17px;
    background: #fff;
    border-top: 2px solid #5DBCC9;
}
.proListing .product .productName{
    width: 80%;

    text-align: left;
    float: left;
}

.proListing .product .productPrice{
    width: 20%;

    float: left;
    text-align: right;
}
.proListing .product .options{
    position: absolute;

    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 15px solid whitesmoke;
    transition: .3s all;
    opacity: 0;  
}
.proListing .product .description{
    color: #333;
    
    max-height: 176px;
    height: 320px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 2em;
}
.proListing .product .options:hover{
    opacity:1;   
}
.proListing .product button{
    background: none;
    
    border: 1px solid #fff;;
    font-size: 1.3em;
    color: #fff;
    transition:.3s all; 
    cursor: pointer;  
    background: #fff;  
    color: #C5C4C4;    text-shadow: 0px 0px 1px #868686;
    display: block;
    padding: 0;
    float: right;
}
.proListing .product button:focus{
    outline: 0;
}
.proListing .product button:hover{color:#58ABC7}
.cart{
    float: right;
    width: 270px;
    position: fixed;
    top: 45px;
    right: 20px;
    margin-right: 16px;
}
.cart .title i{
    margin-right: 14px;
    
}
.cart .title{
    text-align: center;
    
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 4px;
}
.cartDropDown{
    background: #fff;

    color: #7BDAFA;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 2px 2px 1px #ADADAD;
}
.cartDropDown .product{
    overflow: hidden;

    padding: 10px;
    border: 1px solid #ccc;
    background: whitesmoke;
    margin-bottom: 4px;
    position: relative;
}
.cartDropDown .product > *{
    float: left;

    margin-right: 5px;
}
.cartDropDown .product .ProImg{
    width: 65px;

}
.cartDropDown .product img{
    

    height: 50px;

    width: 50px;

}
.cartDropDown .product .productName{

}

.cartDropDown .product .productPrice{

}
.cartDropDown .product .options{
    float: right;

    position: absolute;  
    top: 4px;  
    right: -3px;
}
.cartDropDown .product .button{
    
}
.cartDropDown .product .qty-holder{
    width: 20px;
    
    float: left;
    margin-right: 5px;
}
.cartDropDown .product .remove{
    float: left;
        
}
.cartDropDown .product button{
    border: 0;
    
    background: none;
    color: #7BDAFA;
    font-weight: 700;
    cursor: pointer;
}
.cartDropDown .product input{
    width: inherit;
    
    text-align: center;
}
.notification{
    position: fixed;

    bottom: 0;
    right: 30px;
    background: #ccc;
    padding: 17px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    transition: .3s all;
}
.cartPrice:before{
    content:' ';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 1px;
    background: #ccc;
}
.cartPrice{
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5em;
    text-align: center;
}
.notification span{
    
}
.notification p{
    
}
